@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
    height: 90vh;
    text-align: center;
    background-image: url(../img/2244.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.marco-todo {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    width: 90%;
    text-align: center;
    color: rgb(255, 0, 0);
    margin: 5%% 5% 3%;
    font-size: 66pt;
    font-family: 'Fredoka One', cursive;
    font-weight: bold;
    -webkit-text-stroke: 3px white;
}

.marco-mascotas {
    background-color: rgba(124, 56, 0, 0.651);
    width: 40%;
    margin: 3% 30%;
    padding: 1%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo2 {
    margin: 0 10% 5%;
    font-size: 28pt;
    font-weight: bold;
    font-family: 'Fredoka One', cursive;
    padding: 1%;
    color: black;
    -webkit-text-stroke: 1px white;
}

.contenedor-btns-atq {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.separadores {
    width: 30%;
    height: 30vh;
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 255, 0.39);
    border-radius: 25px;
    font-size: 18pt;
    font-weight: bold;
    font-family: 'Fredoka One', cursive;
    -webkit-text-stroke: 1px white;
    cursor: pointer;
}

.separadores:hover {
    background-color: rgba(0, 0, 255, 0.514);
}

input {
    display: none;
    appearance: none;
}

input:checked + .separadores {
    background-color:  rgba(0, 0, 255, 0.726);
}

.imgMoke {
    width: 90%;
}

#mascota-jugador1, #mascota-enemigo1 {
    font-weight: bold;
}

#ataque-jugador, #ataque-enemigo {
    font-weight: bold;
}

.seleccionar {
    width: 150px;
    height: 45px;
    background-color: rgba(15, 207, 8, 0.685);
    border-radius: 25px;
    color: white;
    font-weight: bold;
    font-size: 14pt;
    margin: 5% 0 3%;
}

.seleccionar:hover {
    background-color: rgba(15, 207, 8, 0.904);
}

.marco-mensajes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.marco-ataque {
    width: 40%;
    background-color: rgba(124, 56, 0, 0.651);
    padding: 1%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-atq {
    margin: 0 10% 1%;
    font-size: 28pt;
    font-weight: bold;
    font-family: 'Fredoka One', cursive;
    padding: 1%;
    color: black;
    -webkit-text-stroke: 1px white;
}

.marco-mensaje {
    width: 94%;
    padding: 1%;
    font-size: 14pt;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.tarjetas {
    width: 50%;
    height: 30vh;
    background-color: rgba(37, 0, 124, 0.651);
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px white solid;
    font-size: 28pt;
    box-sizing: border-box;
    line-height: 20px;
}

#mascota-jugador, #mascota-enemigo {
    font-size: 24pt;
    font-weight: bold;
    font-family: 'Fredoka One', cursive;
    color: white;
    -webkit-text-stroke: 2px black;
}

p {
    line-height: 30px;
}

#vidas-enemigo, #vidas-jugador {
    font-size: 48pt;
    font-weight: bold;
    font-family: 'Fredoka One', cursive;
    color: white;
    -webkit-text-stroke: 2px black;
}

.marco-btns-atq {
    width: 100%;
}

.btn-atq {
    width: 25%;
    height: 45px;
    font-size: 12pt;
    color: white;
    font-weight: bold;
    margin: 4% 3% 2%;
    border-radius: 25px;
    border: 3px white solid;
    cursor: pointer;
}

#btn-fuego {
    background-color: rgba(255, 0, 0, 0.993);
}

#btn-fuego:hover {
    background-color: rgba(248, 66, 66, 0.767);
}

#btn-agua {
    background-color: rgba(0, 47, 255, 0.993);
}

#btn-agua:hover {
    background-color: rgba(62, 96, 250, 0.993);
}

#btn-tierra {
    background-color: rgba(67, 204, 3, 0.993);
}

#btn-tierra:hover {
    background-color: rgba(117, 207, 75, 0.993);
}

.marco-resultados {
    width: 50%;
    margin: 1%;
    justify-content: center;
    align-items: center;
}

.marco-lucha {
    width: 50%;
    height: 40vh;
    background-color: rgba(124, 56, 0, 0.651);
    margin: 2%;
    margin-left: 0;
    padding: 4% 2%;
    font-size: 16pt;
    font-family: 'Fredoka One', cursive;
    color: black;
    -webkit-text-stroke: 1px white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.marco-acciones {
    width: 50%;
    height: 40vh;
    background-color: rgba(124, 56, 0, 0.651);
    border: 2px rgba(124, 56, 0, 0.651) solid;
    padding: 4% 6%;
    font-size: 16pt;
    font-family: 'Fredoka One', cursive;
    color: black;
    -webkit-text-stroke: 1px white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.marco-btn-reiniciar {
    width: 100%;
    display: flex;
    justify-content: center;
}

#reiniciar {
    width: 150px;
    height: 50px;
    border-radius: 25px;
    background-color: rgba(116, 245, 10, 0.671);
    border-color: green;
}

#reiniciar:hover {
    background-color: rgba(116, 245, 10, 0.842)
}

@media (max-width: 1200px) {

    body {
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .marco-mascotas {
        width: 60%;
        margin: 3% 10%;
    }
    
    .marco-ataque {
        width: 60%;
    }

    .imgMoke {
        width: 70%;
    }

    .marco-resultados {
        flex-direction: column;
    }

    .marco-lucha, .marco-acciones {
        width: 100%;
        height: 24vh;
        margin: 1%;
        font-size: 12pt;
    }

}

@media (max-width: 1100px) {

    body {
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .marco-mascotas {
        width: 60%;
        margin: 3% 10%;
    }


    .tarjetas {
        font-size: 24pt;
    }
    
    #mascota-jugador, #mascota-enemigo {
        font-size: 28pt;
    }
    
    #vidas-enemigo, #vidas-jugador {
        font-size: 48pt;
    }
}

@media (max-width: 1000px) {

    .titulo-atq {
        font-size: 24pt;
    }

    .btn-atq {
        font-size: 14pt;
    }

}

@media (max-width: 950px) {

    .tarjetas {
        line-height: 35px;
    }

    p {
        line-height: 20px;
    }
}

@media (max-width: 850px) {
    
}

@media (max-width: 800px) {

    body {
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .marco-mascotas {
        width: 70%;
        margin: 3% 10%;
    }

    #mascota-jugador, #mascota-enemigo {
        font-size: 22pt;
    }

    .contenedor-btns-atq {
        flex-direction: column;
        box-sizing: border-box;
        margin: 5% auto 10%;
    }

    .btn-atq {
        width: 60%;
        font-size: 12pt
    }

    .marco-btn-reiniciar {
        justify-content: end;
        margin-right: 5%;
    }
}

@media (max-width: 700px) {

    body {
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .titulo {
        margin: 0 5% 0%;
        font-size: 46pt;
        -webkit-text-stroke: 1.5px white;
    }

    .titulo-atq {
        font-size: 24pt;
        margin-bottom: 1%;
    }

    .marco-mascotas {
        width: 90%;
        height: 100vh;
        margin: 3% 5%;
    }

    .separadores {
        width: 80%;
        flex-direction: row-reverse;
        font-size: 26pt;
    }

    .tarjetas {
        font-size: 20pt;
    }

    p {
        line-height: 20px;
    }
    
    #mascota-jugador, #mascota-enemigo {
        font-size: 20pt;
    }
    
    #vidas-enemigo, #vidas-jugador {
        font-size: 48pt;
    }

    .imgMoke {
        width: 20%;
    }

    #btn-fuego:hover {
        background-color: none;
    }

    #btn-agua:hover {
        background-color: none;
    }

    #btn-tierra:hover {
        background-color: none;
    }

    .marco-lucha {
        width: 100%;
        margin: 0 0 2% 0;
    }

    .marco-acciones {
        width: 100%;
        margin: 0;
    }
    
}

@media (max-width: 650px) {
    #mascota-jugador, #mascota-enemigo {
        font-size: 18pt;
    }

    .btn-atq {
        font-size: 14pt;
        width: 60%;
    }
}

@media (max-width: 602px) {

    body {
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .titulo-atq {
        font-size: 20pt;
    }

    .marco-mascotas {
        width: 90%;
        margin: 3% 5%;
    }

    .separadores {
        height: 20vh;
    }

    #mascota-jugador, #mascota-enemigo {
        font-size: 18pt;
    }
}

@media (max-width: 550px) {
    .titulo-atq {
        font-size: 20pt;
    }

    #mascota-jugador, #mascota-enemigo {
        font-size: 14pt;
    }
}

@media (max-width: 500px) {

    body {
        display: block;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        box-sizing: border-box;
    }

    .marco-todo {
        height: 60vh;
        align-items: center;
        padding-top: 20%;
    }

    .titulo2 {
        font-size: 22pt;
    }

    .marco-mascotas {
        width: 90%;
        height: 90vh;
        margin: 3% 1%;
    }

    .separadores {
        font-size: 24pt;
        height: 25vh;
    }

    .marco-mensajes {
        justify-content: left;
        height: 50vh;
    }
    
    .marco-ataque {
        width: 50%;
        margin: 3% 0;
    }
    
    .titulo-atq {
        margin: 0 1% 1%;
        font-size: 16pt;
    }

    .tarjetas {
        height: 20vh;
    }

    #mascota-jugador, #mascota-enemigo  {
        font-size: 12pt;
        line-height: 10px;
    }

    #vidas-jugador, #vidas-enemigo {
        font-size: 28pt;
        line-height: 10px;
    }

    p{
        line-height: 20px;
    }

    .marco-mensajes {
        margin-bottom: 3%;
    }

    .marco-lucha, .marco-acciones {
        width: 100%;
        height: 21vh;
        margin: 1%;
        font-size: 14pt;
    }
}

@media (max-width: 400px) {

    .titulo {
        margin: 5%;
        font-size: 36pt;
    }

    .titulo2 {
        font-size: 20pt;
        margin: 1%;
    }

    .titulo-atq {
        font-size: 14pt;
    }

    .marco-ataque {
        width: 50%;
    }

    .marco-mensaje {
        width: 100%;
        margin: 0;
    }

    .tarjetas {
        width: 50%;
        height: 15vh;
    }

    #mascota-jugador, #mascota-enemigo  {
        font-size: 10pt;
        line-height: 10px;
    }

    .btn-atq {
        width: 90%;
    }

    .marco-lucha, .marco-acciones {
        width: 100%;
        height: 18vh;
        margin: 1%;
        font-size: 14pt;
    }

    .marco-btn-reiniciar {
        justify-content: center;
    }
}

@media (max-width: 300px) {

    .separadores {
        font-size: 16pt;
        height: 25vh;
    }

    .titulo {
        margin-top: 20%;
        font-size: 24pt;
    }

    .titulo2 {
        font-size: 14pt;
        margin: 1%;
    }
}
