@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
    height: 100vh;
    text-align: center;
    background-image: url(../img/2244.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.marco-todo {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.marco-todo .titulo {
    width: 90%;
    text-align: center;
    color: rgb(255, 0, 0);
    margin: 0% 5%;
    font-size: 66pt;
    font-family: 'Fredoka One', cursive;
    font-weight: bold;
    -webkit-text-stroke: 3px white;
}

.marco-todo .marco-mascotas {
    background-color: rgba(124, 56, 0, 0.651);
    width: 40%;
    height: 80vh;
    margin: 0 30%;
    padding: 1%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.marco-todo .marco-mascotas .titulo2 {
    margin: 0 10% 5%;
    font-size: 28pt;
    font-weight: bold;
    font-family: 'Fredoka One', cursive;
    padding: 1%;
    color: black;
    -webkit-text-stroke: 1px white;
}

.marco-todo .marco-mascotas .contenedor-btns-atq {
    box-sizing: border-box;
    width: 98%;
    height: 35vh;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    border: 2px;
}

.marco-todo .marco-mascotas .contenedor-btns-atq::-webkit-scrollbar {
    background-color: rgba(0, 128, 0, 0.486);
    border-radius: 15px;
}

.marco-todo .marco-mascotas .contenedor-btns-atq::-webkit-scrollbar-thumb {
    background-color: rgba(9, 223, 9, 0.651);
    border-radius: 15px;
}

.marco-todo .marco-mascotas .contenedor-btns-atq .separadores {
    width: 30%;
    height: 30vh;
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 255, 0.39);
    border-radius: 25px;
    font-size: 14pt;
    font-weight: bold;
    font-family: 'Fredoka One', cursive;
    -webkit-text-stroke: 1px white;
    cursor: pointer;
}

.marco-todo .marco-mascotas .contenedor-btns-atq .separadores:hover {
    background-color: rgba(0, 0, 255, 0.514);
}

.marco-todo .marco-mascotas .contenedor-btns-atq input {
    display: none;
    appearance: none;
}

.marco-todo .marco-mascotas .contenedor-btns-atq input:checked + .separadores {
    background-color:  rgba(0, 0, 255, 0.726);
}

.marco-todo .marco-mascotas .contenedor-btns-atq .separadores .imgMoke {
    width: 90%;
}

.marco-todo .marco-mensajes .marco-ataque .marco-mensaje .tarjetas .mascotaenemigo{
    font-size: 14pt;
} 

.marco-todo .marco-mensajes .marco-ataque .marco-mensaje .tarjetas .mascotajugador {
    font-size: 14pt;
}

#ataque-jugador, #ataque-enemigo {
    font-weight: bold;
}

.marco-todo .marco-mascotas .seleccionar {
    width: 150px;
    height: 45px;
    background-color: rgba(15, 207, 8, 0.685);
    border-radius: 25px;
    color: white;
    font-weight: bold;
    font-size: 14pt;
    margin: 5% 0 3%;
}

.marco-todo .marco-mascotas .seleccionar:hover {
    background-color: rgba(15, 207, 8, 0.904);
}

.marco-todo .marco-mensajes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.marco-todo .marco-mensajes .marco-ataque {
    width: 40%;
    background-color: rgba(124, 56, 0, 0.651);
    padding: 1%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.marco-todo .marco-mensajes .marco-ataque .titulo-atq {
    margin: 0 10% 1%;
    font-size: 28pt;
    font-weight: bold;
    font-family: 'Fredoka One', cursive;
    padding: 1%;
    color: black;
    -webkit-text-stroke: 1px white;
}

.marco-todo .marco-mensajes .marco-ataque .marco-mensaje {
    width: 94%;
    padding: 1%;
    font-size: 14pt;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.marco-todo .marco-mensajes .marco-ataque .marco-mensaje .tarjetas {
    width: 50%;
    height: 30vh;
    background-color: rgba(37, 0, 124, 0.651);
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px white solid;
    font-size: 28pt;
    box-sizing: border-box;
    line-height: 20px;
}

.marco-todo .marco-mensajes .marco-ataque .marco-mensaje .tarjetas .inf-tarjetas {
    line-height: .8;
}

p {
    line-height: 30px;
}

.marco-todo .marco-mensajes .marco-ataque .marco-mensaje .tarjetas .mascotajugador {
    font-family: 'Fredoka One', cursive;
    font-size: 24pt;
    font-weight: bold;
    -webkit-text-stroke: 1px white;
}

.marco-todo .marco-mensajes .marco-ataque .marco-mensaje .tarjetas .mascotaenemigo{
    font-family: 'Fredoka One', cursive;
    font-size: 24pt;
    font-weight: bold;
    -webkit-text-stroke: 1px white;
}

.marco-todo .marco-mensajes .marco-ataque .marco-mensaje .tarjetas .inf-tarjetas {
    font-family: 'Fredoka One', cursive;
    font-size: 24pt;
    font-weight: bold;
    -webkit-text-stroke: 1px white;
}

.marco-todo .marco-mensajes .marco-ataque .marco-mensaje .tarjetas #vidas-enemigo, #vidas-jugador {
    font-size: 48pt;
    font-weight: bold;
    font-family: 'Fredoka One', cursive;
    color: white;
    -webkit-text-stroke: 2px black;
    line-height: 1;
}

.marco-todo .marco-mensajes .marco-ataque .marco-btns-atq {
    width: 100%;
    display: block;
    block-size: auto;
}

.marco-todo .marco-mensajes .marco-ataque .marco-btns-atq .btn-atq, .deshabilitar {
    width: 30%;
    height: 45px;
    font-size: 12pt;
    color: white;
    font-weight: bold;
    margin: .5% 3%;
    border-radius: 25px;
    border: 3px white solid;
    cursor: pointer;
}

.marco-todo .marco-mensajes .marco-ataque .marco-btns-atq #btn-fuego {
    background-color: rgba(255, 0, 0, 0.993);
}

.marco-todo .marco-mensajes .marco-ataque .marco-btns-atq #btn-fuego:hover {
    background-color: rgba(248, 66, 66, 0.767);
}

.marco-todo .marco-mensajes .marco-ataque .marco-btns-atq #btn-agua {
    background-color: rgba(0, 47, 255, 0.993);
}

.marco-todo .marco-mensajes .marco-ataque .marco-btns-atq #btn-agua:hover {
    background-color: rgba(62, 96, 250, 0.993);
}

.marco-todo .marco-mensajes .marco-ataque .marco-btns-atq #btn-tierra {
    background-color: rgba(67, 204, 3, 0.993);
}

.marco-todo .marco-mensajes .marco-ataque .marco-btns-atq #btn-tierra:hover {
    background-color: rgba(117, 207, 75, 0.993);
}

.marco-todo .marco-mensajes .marco-ataque .marco-btns-atq #btn-aire {
    background-color: rgba(3, 204, 204, 0.993);
}

.marco-todo .marco-mensajes .marco-ataque .marco-btns-atq #btn-aire:hover {
    background-color: rgba(65, 206, 206, 0.993);
}

.marco-todo .marco-mensajes .marco-ataque .marco-btns-atq #btn-rayo {
    background-color: rgba(145, 151, 53, 0.616);
    color: black;
}

.marco-todo .marco-mensajes .marco-ataque .marco-btns-atq #btn-rayo:hover {
    background-color: rgba(157, 161, 95, 0.993);
}

.marco-todo .marco-mensajes .marco-ataque .marco-btns-atq #btn-hielo {
    background-color: rgba(3, 112, 255, 0.993);
}

.marco-todo .marco-mensajes .marco-ataque .marco-btns-atq #btn-hielo:hover {
    background-color: rgba(95, 161, 248, 0.993);
}

.marco-todo .marco-mensajes .marco-ataque .marco-btns-atq #btn-metal {
    background-color: rgba(50, 54, 59, 0.993);
}

.marco-todo .marco-mensajes .marco-ataque .marco-btns-atq #btn-metal:hover {
    background-color: rgba(88, 90, 92, 0.993);
}

.marco-todo .marco-mensajes .marco-resultados {
    width: 50%;
    margin: 1%;
    justify-content: center;
    align-items: center;
}

.marco-todo .marco-mensajes .marco-resultados .marco-lucha {
    width: 50%;
    height: 40vh;
    background-color: rgba(124, 56, 0, 0.651);
    margin: 2%;
    margin-left: 0;
    font-size: 16pt;
    font-family: 'Fredoka One', cursive;
    color: black;
    -webkit-text-stroke: 1px white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.marco-todo .marco-mensajes .marco-resultados .marco-lucha .inf-lucha {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.marco-todo .marco-mensajes .marco-resultados .marco-acciones {
    width: 50%;
    height: 40vh;
    background-color: rgba(124, 56, 0, 0.651);
    border: 2px rgba(124, 56, 0, 0.651) solid;
    padding: 4% 6%;
    font-size: 16pt;
    font-family: 'Fredoka One', cursive;
    color: black;
    -webkit-text-stroke: 1px white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.marco-btn-reiniciar {
    width: 100%;
    display: flex;
    justify-content: center;
}

.marco-btn-reiniciar #reiniciar {
    width: 150px;
    height: 50px;
    border-radius: 25px;
    background-color: rgba(116, 245, 10, 0.671);
    border-color: green;
}

.marco-btn-reiniciar #reiniciar:hover {
    background-color: rgba(116, 245, 10, 0.842)
}

@media (max-width: 1200px) {

    body {
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .marco-todo .marco-mascotas {
        width: 60%;
        margin: 3% 10%;
    }
    
    .marco-todo .marco-mensajes .marco-ataque {
        width: 60%;
    }

    .marco-todo .marco-mascotas .contenedor-btns-atq .separadores .imgMoke {
        width: 70%;
    }

    .marco-resultados {
        flex-direction: column;
    }

    .marco-lucha, .marco-acciones {
        width: 100%;
        height: 24vh;
        margin: 1%;
        font-size: 12pt;
    }

}

@media (max-width: 1100px) {

    body {
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .marco-mascotas {
        width: 60%;
        margin: 3% 10%;
    }


    .tarjetas {
        font-size: 24pt;
    }
    
    .mascotajugador .mascotaenemigo  {
        font-size: 28pt;
    }
    
    #vidas-enemigo, #vidas-jugador {
        font-size: 48pt;
    }
}

@media (max-width: 1000px) {

    .titulo-atq {
        font-size: 24pt;
    }

    .btn-atq {
        font-size: 14pt;
    }

}

@media (max-width: 950px) {

    .tarjetas {
        line-height: 35px;
    }

    p {
        line-height: 20px;
    }
}

@media (max-width: 850px) {
    
}

@media (max-width: 800px) {

    body {
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .marco-todo .marco-mascotas {
        width: 70%;
        margin: 3% 10%;
    }

    .marco-todo .marco-mascotas .contenedor-btns-atq {
        overflow-y: hidden;
    }

    .mascotajugador .mascotaenemigo {
        font-size: 22pt;
    }

    .contenedor-btns-atq {
        flex-direction: column;
        box-sizing: border-box;
        margin: 5% auto 10%;
    }

    .btn-atq {
        width: 60%;
        font-size: 12pt
    }

    .tarjetas {
        height: 25vh;
    }

    .marco-btn-reiniciar {
        justify-content: end;
        margin-right: 5%;
    }
}

@media (max-width: 700px) {

    body {
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .marco-todo .titulo {
        margin: 0 5% 0%;
        font-size: 46pt;
        -webkit-text-stroke: 1.5px white;
    }

    .marco-todo .marco-mensajes .marco-ataque .titulo-atq  {
        font-size: 20pt;
        margin-bottom: 1%;
    }

    .marco-todo .marco-mascotas {
        width: 90%;
        height: 100vh;
        margin: 3% 5%;
    }

    .separadores {
        width: 80%;
        flex-direction: row-reverse;
        font-size: 26pt;
    }

    .tarjetas {
        font-size: 20pt;
    }

    p {
        line-height: 20px;
    }
    
    .mascotajugador .mascotaenemigo {
        font-size: 20pt;
    }
    
    #vidas-enemigo, #vidas-jugador {
        font-size: 48pt;
    }

    .imgMoke {
        width: 20%;
    }

    #btn-fuego:hover {
        background-color: none;
    }

    #btn-agua:hover {
        background-color: none;
    }

    #btn-tierra:hover {
        background-color: none;
    }

    
}

@media (max-width: 650px) {
    .mascota-jugador .mascota-enemigo {
        font-size: 18pt;
    }

    .btn-atq {
        font-size: 14pt;
        width: 60%;
    }

    .marco-todo .marco-mensajes .marco-ataque .marco-btns-atq {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 94%;
    }

    .marco-todo .marco-mensajes .marco-ataque .marco-btns-atq .btn-atq{
        width: 60%;
    }

    .marco-todo .marco-mensajes .marco-resultados .marco-lucha {
        width: 100%;
        height: 30vh;
    }

    .marco-todo .marco-mensajes .marco-resultados .marco-acciones {
        width: 100%;
        height: 30vh;
    }
}

@media (max-width: 602px) {

    body {
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .marco-todo .titulo {
        font-size: 50pt;
    }
    
    .marco-todo {
        height: 80vh;
        align-items: center;
    }

    .marco-todo .marco-mensajes .marco-ataque .titulo-atq {
        font-size: 20pt;
    }

    .marco-todo .marco-mascotas {
        width: 90%;
        margin: 3% 5%;
    }

    .separadores {
        height: 20vh;
    }

    .marco-todo .marco-mensajes .marco-ataque .marco-mensaje .tarjetas .mascotajugador .mascotaenemigo {
        font-size: 18pt;
    }

    .inf-tarjetas {
        font-size: 20pt;
    }
}

@media (max-width: 550px) {
    .titulo-atq {
        font-size: 20pt;
    }

    .marco-todo .marco-mensajes .marco-ataque .marco-mensaje .tarjetas .mascotajugador {
        font-size: 24pt;
    }
    
    .marco-todo .marco-mensajes .marco-ataque .marco-mensaje .tarjetas .mascotaenemigo{
        font-size: 24pt;
    }
}

@media (max-width: 504px) {

    body {
        display: block;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        box-sizing: border-box;
    }

    .marco-todo {
        height: 70vh;
        align-items: center;
        padding-top: 20%;
    }
    
    .marco-todo .titulo {
        font-size: 40pt;
    }

    .marco-todo .marco-mascotas {
        width: 90%;
        height: 90vh;
        margin: 3% 1%;
    }

    .inf-tarjetas {
        font-size: 16pt;
    }

    .marco-todo .marco-mascotas .titulo2 {
        font-size: 22pt;
    }

    .marco-todo .marco-mascotas .contenedor-btns-atq .separadores {
        font-size: 16pt;
        height: 15vh;
        
    }

    .marco-todo .marco-mensajes {
        justify-content: left;
        height: 50vh;
    }
    
    .marco-todo .marco-mensajes .marco-ataque {
        width: 50%;
        margin: 3% 0;
    }
    
    .marco-todo .marco-mensajes .marco-ataque .titulo-atq {
        margin: 0 1% 1%;
        font-size: 16pt;
    }

    .marco-todo .marco-mensajes .marco-ataque .marco-mensaje .tarjetas {
        height: 20vh;
    }

    .marco-todo .marco-mensajes .marco-ataque .marco-mensaje .tarjetas .inf-tarjetas .mascotajugador {
        font-size: 14pt;
    }

    .marco-todo .marco-mensajes .marco-ataque .marco-mensaje .tarjetas .inf-tarjetas .mascotaenemigo  {
        font-size: 14pt;
    }

    .marco-todo .marco-mensajes .marco-ataque .marco-mensaje .tarjetas .inf-tarjetas .vidasjugador .vidasenemigo {
        font-size: 28pt;
    }

    .marco-todo .marco-mensajes .marco-ataque .marco-mensaje .tarjetas .inf-tarjetas {
        font-size: 12pt;
    }

    p{
        line-height: 20px;
    }

    .marco-todo .marco-mensajes .marco-resultados {
        overflow-y: hidden;
    }

    .marco-todo .marco-mensajes .marco-resultados .marco-acciones {
        width: 100%;
        height: 20vh;
        margin: 1% 2% 1% 0;
        font-size: 14pt;
    }

    .marco-todo .marco-mensajes .marco-resultados .marco-lucha {
        width: 100%;
        height: 20vh;
        margin: 1%;
        font-size: 14pt;
    }

}

@media (max-width: 400px) {

    .marco-todo {
        height: 70vh;
        padding-top: 0;
        align-items: center;
        justify-content: center;
    }

    .marco-todo .titulo {
        font-size: 36pt;
        width: 80%;
        margin-bottom: 3%;
        text-align: center;
        margin: 0;
    }

    .marco-todo .marco-mascotas .titulo2 {
        font-size: 20pt;
        margin: 1%;
    }

    .marco-todo .marco-mensajes .titulo-atq {
        font-size: 14pt;
    }

    .marco-todo .marco-mensajes .marco-ataque {
        width: 50%;
    }

    .marco-todo .marco-mensajes .marco-ataque .titulo-atq {
        font-size: 12pt;
    }

    .marco-todo .marco-mensajes .marco-ataque .marco-mensaje {
        width: 100%;
        margin: 0;
    }

    .marco-todo .marco-mensajes .marco-ataque .marco-mensaje .tarjetas {
        width: 50%;
        height: 15vh;
    }

    .marco-todo .marco-mensajes .marco-ataque .marco-mensaje .tarjetas .inf-tarjetas {
        font-size: 10pt;
    }

    #mascota-jugador, #mascota-enemigo  {
        font-size: 10pt;
    }

    .marco-todo .marco-mensajes .marco-ataque .marco-btns-atq {
        width: 100%;
    }

    .marco-todo .marco-mensajes .marco-ataque .marco-btns-atq .btn-atq {
        width: 90%;
    }

    .marco-todo .marco-mensajes .marco-resultados {
        width: 50%;
    }

    .marco-todo .marco-mensajes .marco-resultados .marco-acciones {
        width: 100%;
        height: 20vh;
        margin: 1% 2% 1% 0;
        font-size: 14pt;
    }

    .marco-todo .marco-mensajes .marco-resultados .marco-lucha {
        width: 100%;
        height: 20vh;
        margin: 1%;
        font-size: 14pt;
    }

    p {
        font-size: 12pt;
        line-height: 20px;
    }

    .marco-btn-reiniciar {
        width: 80%;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 300px) {

    .separadores {
        font-size: 16pt;
        height: 25vh;
    }

    .titulo {
        margin-top: 20%;
        font-size: 24pt;
    }

    .titulo2 {
        font-size: 14pt;
        margin: 1%;
    }
}
